footer {
    background: #f8f8f8;
    text-align: center;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appFooterLogo {
    height: 40px;
    width: 168px;
}